.mainBlock {
    min-height: 100vh;
    background-color: #F6F6F6;
}

.text {
    width: 400px;
}

.text h1 {
    color: #202020;
}

.text h4 {
    color: #D95435;
    margin-bottom: 18px;
}

.photo {
    width: 400px;
    height: 500px;
    background-color: white;
    background-size: cover;
    background-position: center;
}

