@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.burgerNav {
  width: 100%;
  height: 100%;

  .burgerNavItems {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    @include flex(column, space-between, center, nowrap);
    //display: none;
    height: 0;
    padding: 15px;
    transform: translate(0, -150px);
    transition: 0.7s;

    a {
      text-decoration: none;
      font-family: $titleFontFamily;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2;
      color: $textColor;
      cursor: pointer;

      &:hover {
        color: $primaryColor
      }
    }

    .active {
      color: $primaryColor
    }

  }
  .show {
    transform: translate(0, 0);
    height: 150px;
  }
  .burgerBtn {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: $primaryColor;
    position: absolute;
    top: 32.5px;
    right: 32.5px;
    & img {
      width: 30px;
      height: 30px;
    }
  }
  @media screen and (min-width: 566px) {
    display: none;
  }
}

//@media screen and (max-width: 566px) {
//  .nav {
//    flex-direction: column;
//    align-items: center;
//  }
//  //.nav a {
//  //  margin-bottom: 10px;
//  //}
//}