@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.contactsBlock {
    min-height: 100vh;
    padding-top: 90px;
    padding-bottom: 90px;
    .container {
        @include container();
    }
    .contactsContainer {
        flex-direction: column;
        justify-content: flex-start;
        .contactsForm {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-top: 60px;
            .contactsInput {
                display: flex;
                justify-content: space-between;
            }
            .button {
                @include button();
                align-self:center;
                padding: 4px 40px;
                &:hover {
                    box-shadow: 0 0 18px 0 rgb(217, 84, 53);
                    transition: .5s;
                }
            }
        }
        .contactsMe {
            margin-top: 60px;
            display: flex;
            .contactsMeEmail, .contactsMePhone {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0 12px 0 12px;
            }
        }
    }
}

.contactsInput input{
    margin-bottom: 20px;
    padding: 8px;
    border: solid 1px rgba(0, 0, 0, .2);
    width: 31%;
    border-radius: 5px;
}

.contactsForm textarea {
    width: 100%;
    min-height: 120px;
    margin-bottom: 20px;
    border: solid 1px rgba(0, 0, 0, .2);
    resize: none;
    border-radius: 5px;
    padding: 8px;
}

.contactsMe p{
   color: $textSecondColor;
}

@media screen and (max-width: 605px) {
    .contactsForm {
        width: 100%!important;
    }
    .contactsInput {
        flex-direction: column!important;
    }
    .contactsInput input{
        width: 100%!important;
    }
}

@media screen and (min-width: 606px) and (max-width: 850px) {
    .contactsForm {
        width: 70%!important;
    }
    .contactsInput {
        flex-direction: column!important;
    }
    .contactsInput input{
       width: 100%!important;
    }
}

@media screen and (min-width: 851px) and (max-width: 1150px) {
    .contactsInput {
        flex-direction: column!important;
    }
    .contactsInput input{
        width: 100%!important;
    }
}

@media screen and (max-width: 460px) {
    .contactsMe {
      flex-direction: column!important;
    }
}


