$textColor: #202020;
$textSecondColor: #909090;
$textThirdColor: #FFF;
$primaryColor: #D95435;
$bgColor: #F6F6F6;
$bgSecondColor: #FFF;
$bgThirdColor: #202020;
$titleFontFamily: 'Saira', sans-serif;
$textFontFamily: 'Nunito', sans-serif;

