.aboutMeBlock {
    min-height: 100vh;
    background-color: darkseagreen;
}

.aboutMeContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.aboutMe {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    background-color: yellow;
}