@import '../../common/styles/sass/variables.scss';
@import '../../common/styles/sass/mixins';

.project {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .imgContainer {
    width: 100%;
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    position: relative;
    border-radius: 10px;
    filter: brightness(0.6);
    cursor: pointer;

    .button {
      @include button();
      padding: 4px;
      margin: 10px;
      position: relative;
      z-index: 1;
      display: none;
      &:hover {
        box-shadow: 0 0 18px 0 rgb(217, 84, 53);
        transition: .5s;
      }
    }

    //&::before {
    //  position: absolute;
    //  content: '';
    //  background-color: $bgThirdColor;
    //  top: 0;
    //  bottom: 0;
    //  left: 0;
    //  right: 0;
    //  opacity: 0.4;
    //  border-radius: 10px;
    //}
  }

  .projectInfo {
    padding-top: 20px;

    .title {
      margin-top: 10px;
      margin-bottom: 10px;
      @include text($titleFontFamily, 20px, 700, 1.2, $textColor)
    }

    .decription {
      margin-bottom: 20px;
      @include text($textFontFamily, 16px, 400, 1.8em, $textColor)
    }
  }
}

@media (hover: hover) {
  .imgContainer:hover {
    filter: brightness(1);
  }
  .imgContainer:hover .button {
    display: block;
  }
}












