.header {
    min-height: 80px;
    width: 80%;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.header a {
    margin:0 15px 0 15px;
}

@media screen and (max-width: 566px) {
    .header {
        justify-content: center;
    }
}

