@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.header {
    min-height: 60px;
    padding-right: 10%;
    @include flex(row, flex-end, center, nowrap);
    opacity: 0.9;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    @media screen and (max-width: 566px) {
            justify-content: center;
        min-height: 150px;
    }
}



